.bg{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #b5c6b5;
}
header {
    background-color: #F0F0F0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    margin-right: 20px;
}

#logo {
    width: 100px;
    height: auto;
}
#main-nav {
    display: flex;
    align-items: center;
}
#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#main-nav ul li {
    margin-right: 20px;
}
#main-nav ul li:last-child {
    margin-right: 0;
}
#main-nav ul li a {
    text-decoration: none;
    color: #333;
}
#darkModeToggle{
    border: none;
    margin: 4px 2px;
    padding: 15px 15px;
    background-color: #F0F0F0;
    
}
hr{
    width: 600px;
    height: 10px;
    background-color: black;
}

#board{
    width: 570px;
    height: 570px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 187px;
    height: 187px;
    font-size: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-line {
    border-bottom: 3px solid black;
}

.vr-line {
    border-right: 3px solid black;
}

.winner{
    background-color: greenyellow;
}
#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#restartButton {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s; 
}

#restartButton:hover {
    background-color: #45a049; /* Darker green background on hover */
}

footer {
    position: fixed; /* Fix the position of the footer */
    bottom: 0; /* Align the footer to the bottom of the viewport */
    width: 100%; /* Set the width to 100% of the viewport */
    background-color: #F0F0F0; /* Dark background color */
    color: #000; /* Light text color */
    padding: 2px; /* Add some padding */
    text-align: center; /* Center-align text */
}

.footer-content {
    max-width: 1200px; /* Set maximum width for content */
    margin: 0 auto; /* Center content horizontally */
}

.footer-content p {
    margin: 0; /* Remove default margin */
}

.footer-content ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.footer-content ul li {
    display: inline; /* Display list items inline */
    margin-right: 10px; /* Add some space between list items */
}

.footer-content ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.footer-content ul li a {
    color: #000; /* Light text color for links */
    text-decoration: none; /* Remove underline from links */
}
/* Dark mode styles */
.dark-mode .bg {
    background-color: #143517; /* Darker background color */
    color: #fff; /* Light text color */
}

.dark-mode header {
    background-color: #34495e; /* Darker gray background for header */
}
.dark-mode footer{
    background-color: #34495e; 
}

.dark-mode hr {
    background-color: #fff; /* Light color for horizontal rule */
}

.dark-mode .hr-line, .dark-mode .vr-line {
    border-color: #fff; /* White color for horizontal and vertical lines */
}
.dark-mode #darkModeToggle{
    background-color: #34495e;
}

